<div class="container profile">
  <div class="addButton"><button id="new-boothang" type="button" data-toggle="modal" data-target="#<%= addBoothangModal.name %>">Add New BooThang</button></div>
  <% if (boothangs.length === 1) {%>
    <h2 class="text-center">Current BooThang</h2>
  <% } else { %>
    <h2 class="text-center">Current BooThangs</h2>
  <% } %>
  <ul class="boothangs">
    <% boothangs.forEach(function(boothang) { %>
      <section class="col-sm container boos">
        <div class="card boos">
          <div class="card-body text-center">
            <h2 class="card-title"><%= boothang.name %> </h2>
            <h3><%= boothang.phoneNumber %></h3>
          </div>
        </div>
        <div class="card boos text-center">
          <div class="card buttons">
            <form action="/user/<%= boothang.id %>?_method=DELETE" method="post">
              <button type="submit" name="button">Delete</button>
            </form>
            <button id="update" type="button" data-toggle="modal" data-target="#<%= updateBoo.name %>">Update</button>
            <%- include('../partials/modal', {modal: updateBoo, boothang: boothang}) %>
          </div>
        </div>
      </section>
    <% }) %>
  </ul>

  <%- include('../partials/modal', {modal: addBoothangModal}) %>

  <h3 class="text-center">Select Your Message</h3>
  <p class="text-center">Enter your text message below, or choose one of our premade messages</p>

  <form action="/user/messages" method="post" class= "form-flex">
    <div>
      <input class="message-input" id='message-to-boo' type="text" name="message" value="">
      <button class="clear-input" type="button" name="button">Clear</button>
    </div>
    <button id="initiate-send" type="button" data-toggle="modal" data-target="#<%= sendToBoothangModal.name %>">Send to yo boo!</button>

    <%- include('../partials/modal', {modal: sendToBoothangModal}) %>

    <ul class="messages">
    <% messages.forEach(function(message) { %>
      <li><a class="suggestions" href='#'><%= message.message %></a></li>
    <% }) %>
    </ul>

  </form>

</div>
