<div class="container">
  <% if (boothangs.length === 1) {%>
    <h3>Current BooThang</h3>
  <% } else { %>
    <h3>Current BooThangs</h3>
  <% } %>
  <ul class="boothangs">
    <% boothangs.forEach(function(boothang) { %>
      <li><%= boothang.name %> : <%= boothang.phoneNumber %></li>
      <form action="/user/<%= boothang.id %>?_method=DELETE" method="post">
        <button type="submit" name="button">Delete</button>
      </form>
      <form action="/user/<%= boothang.id %>?_method=PUT" method="post">
        <input type="text" name="newName" id="" placeholder="Name">
        <input type="text" name="newPhone" id="" placeholder="Phone #">
        <button type="submit" name="button">Update Boo Info</button>
    </form>
    <% }) %>
  </ul>
    
  <button id="new-boothang" type="button" data-toggle="modal" data-target="#<%= addBoothangModal.name %>">Add New BooThang</button>

  <%- include('../partials/modal', {modal: addBoothangModal}) %>
  
  <h3>Select Your Message</h3>
  <p>Enter your text message below, or choose one of our premade messages</p>
  
  <form action="/user/messages" method="post">
    <ul class="messages">
    <% messages.forEach(function(message) { %>
      <li><a class="suggestions" href='#'><%= message.message %></a></li>
    <% }) %>
    </ul>
  
    <input class="custom" id='message-to-boo' type="text" name="message" value="">
    <button type="submit" name="button">Send to yo boo!</button>
  </form>
  
</div>